<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename ='another.css' ) }}">
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id qui dolore veniam 
    ipsa ut odio repellendus non earum quas vel, maxime fugit! Rerum quae explicabo 
    eos a ratione labore doloribus ipsa ipsum magnam rem?

</body>
</html>